{% extends 'base.html' %}
{% block title %}代辦事項{% endblock %}
{% block style %}

<style>
    .todo-list {
        background-color: azure;
        margin: 12px auto;
        width: 500px;
        height: 200px;
    }

    .date {
        background-color: chocolate;
        color: aliceblue;
    }

    .text {
        background-color: burlywood;
        height: 100px;
        border-radius: 6px;
        padding: 6px;

    }

    .important {
        color: red;
    }
</style>

{% endblock %}

{% block content %}
<h1>
    {% if completed %}
    completed-todo
    {% else %}
    ToDoList
    {% endif %}



</h1>
{% for todo in todos %}

<div class="todo-list">
    <p class="date">{{todo.created}}</p>
    <p class="title">
        <a href="{% url 'view_todo' todo.id %}">{{todo.title}}</a>
        {% if todo.important %}
        <span class="important">(重要)</span>
        {% endif %}
    </p>

    <p class="text">{{todo.text}}</p>
    <a href="{% url 'delete-todo' todo.id %}" onclick="return confirmDelete()">刪除</a>
    <a href="{% url 'completed-todo' todo.id %}" onclick="return confirmCompleted()">完成</a>
</div>

{% endfor %}

{% endblock %}